<div id="<%= dom_id product %>">
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="<%= product.picture %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><h6><%= product.name %> <h6></h5>
    <p class="card-text">    <p><%= product.description %></p></p>
    <p class="card-text">    <p><%= product.price %></p></p>
    
  
</div>
